<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">axelor</property>
		<property name="hibernate.connection.password">axelor</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/axelordb</property>

		<property name="hbm2ddl.auto">update</property>

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<mapping class="com.MyHibernateGradle.First.studentFirst" />
		<mapping class="com.MyHibernateGradle.Fourth.MyOneToOne" />
		<mapping class="com.MyHibernateGradle.Fourth.Answer" />
		<mapping class="com.MyHibernateGradle.Fifth.Answernew" />
		<mapping class="com.MyHibernateGradle.Fifth.Questions" />
		<mapping class="com.MyHibernateGradle.Sixth.Employee" />
		<mapping class="com.MyHibernateGradle.Sixth.Project" />

		<mapping class="com.MyHibernateGradle.Seventh.student" />
		<mapping class="com.MyHibernateGradle.Seventh.Phone" />
		<mapping class="com.MyHibernateGradle.Seventh.StdAddress" />
		<mapping class="com.MyHibernateGradle.Seventh.Department" />
		<mapping class="com.MyHibernateGradle.Seventh.Subject" />

	</session-factory>
</hibernate-configuration>